.swap {
  border-radius: var(--border-radius-large);
  /*  border: 1px solid rgba(255, 255, 255, 0.1);*/

  width: 450px; height: auto;
  position: relative;
  background-color: var(--color-gunmetal);
  color: white;
  /*  box-shadow: #0000002f 0px 0px 14px 0px;*/

}

.swap * {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 650px) {
  .swap {
    width: 100%;
  }
}

.swap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /*  border-bottom: 1px solid rgba(255, 255, 255, 0.05);*/

}

.swap-header-title {

}

.swap-header-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swap-header-settings > svg {
  display: block;
  width: 20px; height: 20px;
  cursor: pointer;
}

.swap-body {
  padding: 1rem;
  position: relative;
}

.swap-body-settings {
  position: absolute;
  top: 0; left: 0;
  width: calc(100% - 2rem); height: calc(100% - 2rem);
  background-color: var(--color-onyx);
  z-index: 10;
  margin: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.swap-body-inputarea {

}

.swap-body-inputarea-label {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}

.swap-body-inputarea-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  /*   border: 1px solid rgba(255, 255, 255, 0.1);*/
  border-radius: 4px;
  position: relative;
}

.swap-body-inputarea-body > input {
  background-color: transparent;
  border: none;
  outline: none;
  /*  padding: .4rem;*/
  height: 100%; width: 100%;
  font-size: 2rem; font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

/* Remove input arrows */
/* Chrome, Safari, Edge, Opera */
.swap-body-inputarea-body > input::-webkit-outer-spin-button,
.swap-body-inputarea-body > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.swap-body-inputarea-body > input[type=number] {
  -moz-appearance: textfield;
}

.swap-body-inputarea-body-tokenselector {
  border-radius: var(--border-radius);
  padding: 8px 14px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-onyx);
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .swap-body-inputarea-body-tokenselector {
    padding: 8px 12px;
  }
}

.swap-body-inputarea-body-tokenselector-img {
  display: block;
  height:  24px;
  width: 24px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

@media only screen and (max-width: 650px) {
  .swap-body-inputarea-body-tokenselector-img {
    height:  22px;
    width: 22px;
  }
}

.swap-body-inputarea-body-tokenselector-symbol {
  line-height: 80%;
  font-weight: 600; font-size: 20px;
  margin: 0px .5rem;
}

@media only screen and (max-width: 650px) {
  .swap-body-inputarea-body-tokenselector-symbol {
    font-size: 20px;
  }
}

.swap-body-inputarea-body-tokenselector-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swap-body-inputarea-body-tokenselector-icon > svg {
  width: 24px; height: 24px;
}

.swap-body-inputarea-body-dropdown {
  transition: all .2s ease;
  position: absolute;
  right: 0; top: calc(100% + 6px);
  background-color: var(--color-onyx);
  height: 0; width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: var(--border-radius);
  z-index: 2;
  border-color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 650px) {}

.swap-body-inputarea-body-dropdownactive {
  height: 500px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.swap-body-inputarea-body-dropdown-searcharea {
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.swap-body-inputarea-body-dropdown-searcharea-ctr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
}

.swap-body-inputarea-body-dropdown-searcharea-ctr-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swap-body-inputarea-body-dropdown-searcharea-ctr-icon > svg {
  width: 24px; height: 24px;
}

.swap-body-inputarea-body-dropdown-searcharea-ctr-input {
  height: 100%; width: 100%;
  margin-left: 1rem;
  background-color: transparent;
  color: white;
  font-size: 20px;
}

.swap-body-inputarea-body-dropdown-item {
  padding: .6rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.swap-body-inputarea-body-dropdown-item:hover {
  background-color: var(--color-gunmetal);
}

.swap-body-inputarea-body-dropdown-item-img {
  height: 25px; width: 25px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.swap-body-inputarea-body-dropdown-item-right {
  margin-left: 1rem;
}

.swap-body-inputarea-body-dropdown-item-right-name {
  font-size: 14px; font-weight: 600;
}

.swap-body-inputarea-body-dropdown-item-right-symbol {
  font-size: 14px; font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

.swap-body-inputarea-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  margin-top: 4px;
}

.swap-body-inputarea-info-usd {

}

.swap-body-inputarea-info-tokenbalance {
  
}

.swap-body-replace {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.swap-body-replace-iconctr {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  padding: 4px;
  cursor: pointer;
  background-color: var(--color-gunmetal);
}

.swap-body-replace-iconctrdisabled {
  cursor: auto;
}

.swap-body-replace-iconctr > svg {
  width: 24px; height: 24px;
}

.swap-body-replace-iconctr-icon {
  color: rgba(255, 255, 255, 0.7);
}

.swap-body-button {
  transition: all .3s ease-out;
  margin: 2rem 0 1rem 0;
  padding: 1rem;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 18px; font-weight: 600;
  background-color: var(--color-paradise);
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--shadow-paradise);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swap-body-buttondisabled {
  background-color: #1f252b;
  background-color: var(--color-charleston);
  cursor: auto;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: none;
}

.swap-body-button-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 1s infinite linear;
  margin-right: 1rem;
}

.swap-body-button-loading > svg {
  width: 18px; height: 18px;
}

@keyframes spin {
  0% {
    transform: rotateZ(0rad);
  }

  100% {
    transform: rotateZ(6.28rad);
  }
}

/* FF2052 */
/* EB6D63 */
/* 988ED1 */
/* 61B3DE */

.swap-body-details {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: var(--border-radius);
  padding: .6rem;
}

.swap-body-details-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: .3px;
  margin-bottom: 4px;
  font-weight: 600;
}

.swap-body-details-item:nth-last-child(1) {
  margin-bottom: 0;
}

.swap-body-details-item-key {
  color: rgba(255, 255, 255, 0.7);
}

.swap-body-details-item-value {
  color: rgba(255, 255, 255, 0.5);
}

.swap-body-error {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 16px; font-weight: 600;
  color: var(--color-paradise);
  overflow-wrap: break-word;
}
