.aside {
  position: fixed;
  left: 0; top: 0;
  z-index: 10;
  height: 100%; width: var(--comp-aside-width);
  transition: all .3s ease;
  padding: 1rem 1rem calc(1rem + 22px) 1rem;
  background-color: var(--color-charleston);
}

@media screen and (max-width: 650px) {
  .aside {
    display: none;
  }
}

.aside-inner {
  position: relative;
  border-radius: var(--border-radius-large);
  padding: .6rem;
  height: 100%;
  background-color: var(--color-gunmetal);
  box-shadow: var(--shadow-black);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.aside-inner-logoarea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  display: none;
}

.aside-inner-logoarea-logo {
  display: block;
  border-radius: var(--border-radius);
}

.aside-inner-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  margin-bottom: .8rem;
  padding: .6rem;
  border-radius: var(--border-radius);
}

.aside-inner-linkselected {
  color: #0080FF;
  background-color: var(--color-onyx);
}

.aside-inner-link:hover {
  color: #0080FF;
  background-color: var(--color-onyx);
}

.aside-inner-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-inner-link-icon > svg {
  width: 19px;
  height: 19px;
}

.aside-inner-link-title {
  margin-left: .6rem;
  font-size: 16px;
}

#aside-inner-linkseedsale {
  color: #cfc547;
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

#aside-inner-linkprofile {
  position: absolute;
  bottom: .6rem; left: .6rem;
  width: calc(100% - 1.2rem);
  margin-bottom: 0;
  animation: fadein .8s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.aside-bottom {
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  height: 22px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  background-color: var(--color-charleston);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-bottom-left {

}

.aside-bottom-right {
  margin-right: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-bottom-right-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.65);
  padding: 3px;
  height: 100%;
  margin-left: .6rem;
}

.aside-bottom-right-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.aside-bottom-right-icongreen {
  color: rgb(98, 161, 83);
}

.aside-bottom-right-iconred {
  color: var(--color-red);
}

.aside-bottom-right-icon > svg {
  height: 100%;
}

.aside-bottom-right-icon > span {
  margin-left: 6px;
}
