/* SECTION FACTORY */
.sectionfactory {
  min-height: 100vh;
  background-color: var(--color-paradise);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* SECTION SWAP*/
.sectionswap {
  min-height: 100vh;
  background-color: var(--color-paradise);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION AUDIT */
.sectionaudit {
  min-height: 100vh;
  background-color: var(--color-paradise);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* SECTION GRAPH */
.sectiongraph {
  min-height: 100vh;
  background-color: var(--color-paradise);
  display: flex;
  justify-content: center;
  align-items: center;
}

