/* AUDIT COMPONENT */
.audit {
  background-color: var(--color-gunmetal);
  border-radius: var(--border-radius-large);


  /*  box-shadow: var(--shadow-black);
    border: 2px solid rgba(255, 255, 255, 0.1);*/
  max-width: 900px;
}

.audit * {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.audit-header {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.audit-header-options {
  display: flex;
  justify-content: flex;
  align-items: center;
  height: 38px; width: 100%;
}

.audit-header-options-chain {
  height: 100%; width: 70px;
  position: relative;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-onyx);
}

.audit-header-options-chain-img {
  height: 100%;
  border-radius: 50%;
  display: block;
}

.audit-header-options-chain-chains {
  position: absolute;
  top: calc(100% + .5rem); left: 0;
  height: 0; width: 200px;
  transition: all .2s ease;
  border-radius: var(--border-radius);
  overflow: hidden;
  overflow-y: scroll;
  background-color: var(--color-onyx);
  border: 0px solid rgba(255, 255, 255, 0.05);
  box-shadow: var(--shadow-black);
  z-index: 2;
}

.audit-header-options-chain-chainsopen {
  height: 240px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.audit-header-options-chain-chains-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .7rem;
}

.audit-header-options-chain-chains-item:hover {
  background-color: var(--color-gunmetal);
}

.audit-header-options-chain-chains-item-img {
  display: block;
  width: 20px; height: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.audit-header-options-chain-chains-item-name {
  margin-left: 1rem;
  color: white;
}

.audit-header-options-input {
  height: 100%; width: 100%;
  display: block;
  margin-right: 1rem;
  font-size: 18px;
  background-color: transparent;
  background-color: var(--color-charleston);
  color: white;
  border-radius: 0 var(--border-radius) var(--border-radius) 0 ;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-left: none;
  padding: .5rem 1rem;
}

.audit-header-options-audit {
  height: 100%; width: 200px;
  border-radius: var(--border-radius);
  font-size: 18px; font-weight: 600;
  cursor: pointer;
  background-color: var(--color-paradise);
  box-shadow: var(--shadow-paradise);
  color: white;
}

.audit-header-options-auditdisabled {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--color-charleston);
  cursor: auto;
  box-shadow: none;
}

.audit-header-options-audit-loadingicon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotateZ(0rad);
  }

  to {
    transform: rotateZ(6.28rad);
  }
}

.audit-header-options-audit-loadingicon > svg {
  width: 20px; height: 20px;
}

.audit-body {
  padding: 1rem;
  color: white;
}

.audit-body-token {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.audit-body-token-left {

}

.audit-body-token-left-name {
  font-size: 18px;
}

.audit-body-token-left-nameplaceholder {
  width: 100px; height: 20px;
  border-radius: var(--border-radius);
  background-color: var(--color-charleston);
}

.audit-body-token-left-address {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.audit-body-token-right {
  font-size: 18px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audit-body-token-rightplaceholder {
  width: 60px; height: 20px;
  border-radius: var(--border-radius);
  background-color: var(--color-charleston);
}

.audit-body-token-right > span {
  font-weight: 600;
  margin-right: .5rem;
}

.audit-body-score {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 950px) {
  .audit-body-score {
    margin-top: 2rem;
    display: block;
  }
}

.audit-body-score-left {

}

@media screen and (max-width: 950px) {
  .audit-body-score-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.audit-body-score-right {
  margin-left: 3rem;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
}

@media screen and (max-width: 950px) {
  .audit-body-score-right {
    margin-left: 0;
    text-align: center;
    margin-top: 2rem;
  }
}

.audit-body-score-right-placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 950px) {
  .audit-body-score-right-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.audit-body-score-right-placeholder > * {
  background-color: var(--color-charleston);
  height: 16px;
  border-radius: var(--border-radius);
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.audit-body-score-right-placeholder-textsmall {
  width: 40px;
}

.audit-body-score-right-placeholder-textmedium {
  width: 60px;
}

.audit-body-score-right-placeholder-textlarge {
  width: 110px;
}

.audit-body-bars {
  margin-top: 2rem;
}

.audit-body-bars-warninglabel {
  font-size: 18px; font-weight: 600;
  display: block;
  color: rgba(255, 255, 255, 0.7);
}

.audit-body-bars-warning {
  margin-top: .5rem;
  background-color: var(--color-charleston);
  width: 100%; height: 18px;
  border-radius: var(--border-radius);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.audit-body-bars-warning-bar {
  position: absolute;
  top: 0; left: 0;
  width: 0; height: 100%;
  background-color: var(--color-red);
  transition: all 3s ease;
}

.audit-body-bars-passedlabel {
  font-size: 18px; font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1rem;
  display: block;
}

.audit-body-bars-passed {
  margin-top: .5rem;
  position: relative;
  background-color: var(--color-charleston);
  width: 100%; height: 18px;
  border-radius: var(--border-radius);
  border-radius: 12px;
  overflow: hidden;
}

.audit-body-bars-passed-bar {
  position: absolute;
  top: 0; left: 0;
  width: 0; height: 100%;
  background-color: var(--color-azure);
  transition: all 3s ease;
}

.audit-body-analytics {
  margin-top: 2rem;
}

.audit-body-analytics-title {
  font-size: 18px; font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.audit-body-analytics-list {
  margin-top: 1rem;
  max-height: 800px;
  overflow: hidden;
  overflow-y: scroll;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.audit-body-analytics-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.audit-body-analytics-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.audit-body-analytics-item {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border: none;
  background-color: var(--color-charleston);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .6rem;
  margin-bottom: .6rem;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: var(--border-radius);
  transition: all .4s ease;
  opacity: 0;
  transform: scale(.7);
}

.audit-body-analytics-itemplaceholder {
  margin-bottom: .6rem;
  padding: .6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--border-radius);
}

.audit-body-analytics-itemanimation {
  opacity: 1;
  transform: scale(1);
}

.audit-body-analytics-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audit-body-analytics-item-iconplaceholder {
  height: 17px; width: 17px;
  background-color: var(--color-charleston);
  border-radius: var(--border-radius);
}

.audit-body-analytics-item-icon > svg {
  width: 17px; height: 17px;
  color: var(--color-yellow);
}

.audit-body-analytics-item-iconpassed > svg {
  color: var(--color-green);
}

.audit-body-analytics-item-desc {
  margin-left: 1rem; 
}

.audit-body-analytics-item-descplaceholder {
  margin-left: 1rem; 
  height: 17px; width: 200px;
  background-color: var(--color-charleston);
  border-radius: var(--border-radius);
}

.audit-body-info {
  margin-top: 2rem;
}

.audit-body-info-title {
  font-size: 18px; font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.audit-body-info-list {
  margin-top: 1rem;
  max-height: 800px;
  overflow: hidden;
  overflow-y: scroll;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.audit-body-info-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.audit-body-info-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.audit-body-info-item {
  background-color: var(--color-charleston);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem;
  margin-bottom: .6rem;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: var(--border-radius);
  transition: all .4s ease;
  opacity: 0;
  transform: scale(.7);
}

.audit-body-info-itemanimation {
  opacity: 1;
  transform: scale(1);
}

.audit-body-info-itemplaceholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem;
  margin-bottom: .6rem;
}

.audit-body-info-item-key {

}

.audit-body-info-item-keyplaceholder {
  height: 17px; width: 68px;
  background-color: var(--color-charleston);
  border-radius: var(--border-radius);
}

.audit-body-info-item-value {

  display: flex;
  justify-content: center;
  align-items: center;
}

.audit-body-info-item-value-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
  cursor: pointer;
}

.audit-body-info-item-valueplaceholder {
  height: 17px; width: 60px;
  background-color: var(--color-charleston);
  border-radius: var(--border-radius);
}
