.table {
  background-color: var(--color-gunmetal);
  width: 1100px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: var(--border-radius-large);
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .table {
    width: 100%;
  }
}

/*
index: 50px
info: 300px
price: 100px
*/

.table {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-left {
  min-width: 300px;
}

@media screen and (max-width: 650px) {
  .table-left {
    min-width: 200px;
  }
}

.table-left-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.table-left-header-index {
  width: 50px;
  text-align: center;
}

.table-left-item {
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.table-left-item-index {
  width: 50px;
  text-align: center;
}

.table-left-item-img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.table-left-item-info {
  margin-left: 1rem;
}

.table-left-item-info-name {

}

.table-left-item-info-symbol {
  font-weight: 600;
}

.table-rightscroller {
  overflow: hidden;
  overflow-x: scroll;
}

.table-right {

}

@media screen and (max-width: 1150px) {
  .table-right {
    width: 900px;
  }
}

.table-right-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.table-right-header-price {
  width: 150px;
}

.table-right-header-change24h {
  width: 100px;
}

.table-right-header-marketcap {
  width: 200px;
}

.table-right-header-circulatingsupply {
  width: 200px;
}

.table-right-item {
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.table-right-item-price {
  width: 150px;
}

.table-right-item-change24h {
  width: 100px;
}

.table-right-item-marketcap {
  width: 200px;
}

.table-right-item-circulatingsupply {
  width: 200px;
}
